@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,200&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: rgb(67, 160, 71);
  color: rgba(255, 255, 255, 0.8);
  font-style: 'PT Sans', sans-serif;
}

div {
  display: block;
}

#instructions {
  width: 50%;
  padding: 30px;
}

header {
  display: flex;
}

h1 {
  text-transform: uppercase;
  font-family: 'Fredoka', sans-serif;
  font-size: 30px;
}

.help {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: rgba(255, 255, 255, 0.8) solid 1px;
  padding: 0 2px;
  line-height: 1.5;
}

#content {
  position: relative;
  width: 50%;
}

#background {
  display: flex;
  width: 50vw;
  height: 50vw;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(31, 87, 104);
  border-radius: 0 0 0 10px;
  z-index: 10;
  flex-flow: column-reverse wrap-reverse;
  place-content: space-between center;
}

#pond {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 20;
  width: 100%;
  height: 100%;
}

.lilypad-container,
.frog-container {
  width: 20%;
  height: 20%;
}

.lilypad,
.frog {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.lilypad.red {
  background-image: url(images/lilypad-red.svg);
}

.lilypad.green {
  background-image: url(images/lilypad-green.svg);
}

.lilypad.yellow {
  background-image: url(images/lilypad-yellow.svg);
}

.frog.red {
  background-image: url(images/frog-red.svg);
}

.frog.green {
  background-image: url(images/frog-green.svg);
}

.frog.yellow {
  background-image: url(images/frog-yellow.svg);
}